.sectionWorking {
	display: flex;
	flex-direction: column;
	width: 50vw;

}

.working-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.firstHeadWorking {
	text-align: center;
	color: #593910;
}

.workingText-container {
	height: 10vh;
	width: 40vw;
	margin-left: 2vw;
	color: #593910;
}

.workingList-container {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
	color: #593910;
	margin-bottom: 3vh;

}

.secondHeadWorking {
	text-align: center;
	margin-bottom: 1vh;
	color: #593910;

}