.greatSelection-container {
	height: 20vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.greatSelectionLogo {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}