.info-container {
	background-image: url("../../../assets/images/wallpaper-road2.jpg");
	background-size: cover;
	background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

}

.company-name-container {
	width: 20vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
}


.logo-container {
	background-color: black;
	color: red;
	width: 8vw;
	border-radius: 15px;
	border: 1px solid red;
	margin-left: 10px;
}

.info-text-container {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	margin-top: auto;
}

.info-text-container h1 {
	font-size: 40px;

}

.info-text-container span {
	height: 1px;
	width: 20vh;
	background-color: red;
}

.info-text-container p {
	font-size: 20px;
	line-height: 1.6;
}

#info-triangle-container {
	display: flex;
	flex-direction: row;
	margin-top: auto;
}

#info-triangle-left {
	width: 0;
	height: 0;
	border-bottom: 20vh solid white;
	border-right: 50vw solid transparent;
	background-color: transparent;
}

#info-triangle-right {
	width: 0;
	height: 0;
	border-bottom: 20vh solid white;
	border-left: 50vw solid transparent;
	background-color: transparent;
}