.navigator-container {
	height: 10vh;
	width: 100%;
	background-color: transparent;
	position: absolute;
	text-align: right;
	margin-top: 4vh;


}


.navigator-nav-item {
	margin-right: 45px;
	color: white;
	text-decoration: none;
	font-size: 3vh;
	
}